
.card-header {
    font-size: 15px;
    font-weight: 500;
    height: 28px;
    line-height: 5px;
  }

.header-icon {
    font-size: 12px;
}

.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}

.card-title {
    margin-top: 10px;
    font-size: 18px;
}

.description {
    font-size: 13px;
}

.card-body {
    margin-bottom: 20px;
}