// import global sass variable file
@import "/src/app/master";

.blog-page {
    background-color: $bgcolor;
    padding: 20px;
}

.blog-page-body {
    margin-top: 10px;
    background-color: $bgcolor;
}

.image-card {
    margin: 10px;
    padding: 20px;
    width: 24rem;
    height: 14rem;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
}

.description {
    font-size: 11px;
}

.readmore {
    font-size: 11px;
    margin-top: 10px;
}

.display-data {
    position: absolute;
    bottom: 20px;
    font-size: 11px;
    align-items: center;
}

.icon {
    font-size: 16px;
}

.author {
    float: right;
}