@import "/src/app/master";

.card-icon {
    float: right;
}

.bgcolor {
    color: $primarycolor;
}

.details {
    margin-top: 30px;
}

.card-title {
    font-weight: 700 !important;
}

.card-subtitle {
    font-size: 13px;
}

