// import global sass variable file
@import "/src/app/master";

.home-panel {
  margin-top: 10px;
}

.summart-cards {
  margin-top: 10px;
}

.recent-blogs {
  margin-top: 10px;
}

.home-page {
  padding: 20px;
  background-color: $bgcolor;
}