/* Define standard variables and values for website */

@import "master";

/* Use the variables */
body {
  background-color: $bgcolor;
  height: 1000px;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.raw-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}
.navbar-custom{
  margin-bottom: 5px;
}
.counter {
  position: relative;
  top: -13px;
  left: auto;
  z-index: 2;
  padding: 0px 4px;
  margin-left: -9px;
  font-size: 11px;
  color: #fff;
  background-color: #fe1212;
  border-radius: 10em;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.avatar-circle {
  width: 40px;
  height: 38px;
  background-color: #47a1f6;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: relative;
}

.initials {
  line-height: 34px;
  color: #fff;
  font-weight: bold;
}

.logo {
  margin-top: 10px;
  margin-left: 34px;
}

.bgcolor {
  color: $primarycolor;
}

.menu-header {
  font-size: 15px;
  font-weight: 700;
}

.menu-items {
  font-size: 12px;
  font-weight: 600;
}

.header-icon {
  font-size: 15px;
  margin-right: 10px;
}

.menu-item {
  align-items: center;
  display: flex;
}


// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
 
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}